{% extends "layout.html" %}
{% block content %}
    <div id="middleabout">
		<script type="text/javascript">	

			setInterval(function(){background_();}, 10000);
		</script>
		<div class="content_about">
			<div id="aboutdata">
				<h1>ShareYourStory is a platform in which people share their stories
					primarily to motivate,warn,inform and educate others. Your stories
					and life experiences can change another person's life for the better. It
					is possible that someone is facing the same challenges which you faced and 
					overcame. Share to motivate and also to empower others. People can learn a
					lot from your stories and experiences. Ready To Share? 
					<p id="special">Please share your story and change somebody's life!</p>
				</h1>
			</div>
		</div>
    </div>
{% endblock content %}
